<section>
<app-header></app-header>
<div class="main">
    <div class="login-form-wrapper">
        <div class="login-header-wrapper">
            <ion-text class="second-header login-header">Авторизация</ion-text>
        </div>
        <form action="">
            <div class="input-wrapper">
                <ion-input class="input login-form-wrapper_wrapper" labelPlacement="floating" fill="outline">
                    <div class="label-text" slot="label">Логин</div>
                </ion-input>
                <ion-input class="input login-form-wrapper_wrapper" labelPlacement="floating" fill="outline">
                    <div class="label-text" slot="label">Пароль</div>
                </ion-input>
            </div>
            <div class="button-wrapper">
                <button class="button-submit">Вход</button>
            </div>
        </form>
    </div>
    <div class="login-header-wrapper_reg">
        <span class="last-header_small">Регистрация</span>
    </div>
</div>
</section>