.login-form-wrapper{
    margin: auto;
    width: 320px;
    padding: 1rem;
    border-radius: 8px;
    min-height: 290px;
    margin-top: 10rem;
  }
   
.input-wrapper{
   margin-top: 2rem; 
}
.button-wrapper{
  display: flex;
  justify-content: center;
}
.login-header{
  color: #000000;
}
.login-header-wrapper_reg{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  cursor: pointer;
}
   
