<section class="modal-main">
  <div class="modal-main-header second-header">
    Профиль компании  
  </div>
  <div class="">
    <ion-input class="input" value="Студия Веб Трахен" labelPlacement="floating" fill="outline">
      <div class="label-text" slot="label">Имя</div>
    </ion-input>

      <ion-select fill="outline" class="input" placeholder="Выберите день недели для встреч">
        <ion-select-option value="monday">Понедельник</ion-select-option>
        <ion-select-option value="tuesday">Вторник</ion-select-option>
        <ion-select-option value="wednesday">Среда</ion-select-option>
        <ion-select-option value="thursday">Четверг</ion-select-option>
        <ion-select-option value="friday">Пятница</ion-select-option>
        <ion-select-option value="saturday">Суббота</ion-select-option>
        <ion-select-option value="sunday">Воскресенье</ion-select-option>
      </ion-select>
      <div class="button-wrapper">
        <button  type="submit" class="button-submit button-submit_save">Сохранить</button>
      </div>
  </div>
 
</section>