<div class="main header-wrapper">
  <nav class="header-main">
    <div  class="header-main-item_logo">
      <img src="/assets/imgs/logo.png" alt="" class="header-main-item_logo_img">
    </div>
    <div class="header-main-item_button">
        <button [routerLink]="['/login']" *ngIf="!auth" class="button-submit">Войти</button>
        <button [routerLink]="['/cabinet']" *ngIf="auth && path != '/cabinet'" class="button-submit">Кабинет</button>
        <button (click)="logout()" *ngIf="auth && path == '/cabinet'" class="button-submit">Выйти</button>
        <div *ngIf="auth" class="header-main-item_user-icon_wrapper">
          <div>
            <div class="header-main-item_user-icon" src="/assets/icon/contact.svg"></div>
          </div>

        </div>
    </div>
  </nav>
</div>
