.header-wrapper{
    padding-top: 1rem;
    max-height: 60px;

}
.header-main{
    display: flex;
    justify-content: space-between;
}
.header-main-item_button{
    display: flex;
}
.header-main-item_user-icon_wrapper{
    margin-left: 2rem;
}
.header-main-item_user-icon{
    margin-top: auto;
    margin-bottom: auto;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}
.exit-main{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: -2rem;
    height: 30px;
    text-align: center;
    font-size: 12px;
    max-width: 143px;
    border-radius: 6px;
    font-family:'Montserrat-Regular';
    position: absolute;
    padding: 10px;
    box-shadow: 1px 0px 2px 0px rgba(34, 60, 80, 0.2) inset;

    .exit{
        transition: 0.5s all;
        
        opacity: 0;
    }
}


