<section>
  <app-header></app-header>
  <div class="main">
    <div class="main-header second-header">Мой профиль</div>
    <form [formGroup]="profileForm" action="">
      <div class="main-info-grid">
        <div class="main-info-grid_inputs">
          <ion-input class="input" value="{{user.name}}" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Имя</div>
          </ion-input>
          <ion-input type="date"  class="input" value="" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Дата рождения</div>
          </ion-input>
          <ion-input type="mail"  class="input" value="{{user.email}}" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Электронная почта</div>
          </ion-input>
          <ion-input type="mail"  class="input" value="{{user.social}}" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Ссылка для связи</div>
          </ion-input>
          <div class="custom-input-profile">
            <div class="label-text custom-input-profile-label" slot="label">Хобби</div>
            <div class="custom-input-profile-change_wrapper custom-input-profile-grid">
              <div class="" *ngFor="let prof of hobbies">
                <button class="del" (click)="delHobby($event)" name="{{prof.name}}" id="{{prof.id}}">x</button>
                <div class="custom-input-profile-grid-item">
                  {{prof.name}}
                </div>
              
              </div>
              <div>
                <input formControlName="hobbyesText" class="custom-input-profile-change" type="text">
                <button class="sub" id="{{this.profileForm.value.hobbyesText}}" (click)="addHobby($event)">+</button>
              </div>
           
            </div>
            
          </div>
        </div>
        <div>
  
        </div>
        <div>
          
        </div>
      </div>
    </form>
   
  </div>
</section>