<section>
  <app-header></app-header>
  <div class="main">
    <div class="main-header second-header">Мой профиль</div>
    <form action="">
      <div class="main-info-grid">
        <div class="main-info-grid_inputs">
          <ion-input class="input" value="" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Имя</div>
          </ion-input>
          <ion-input type="date"  class="input" value="" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Дата рождения</div>
          </ion-input>
          <ion-input type="mail"  class="input" value="" labelPlacement="floating" fill="outline">
            <div class="label-text" slot="label">Электронная почта</div>
          </ion-input>
          <div class="custom-input-profile">
            <div class="label-text custom-input-profile-label" slot="label">Профессии</div>
            <div class="custom-input-profile-change_wrapper">
              <!-- <div *ngFor="let prof of  professionAdd">
                {{prof}}
                <button name="{{prof}}" (click)="customInputFormProfessionDel($event)">-</button>
              </div> -->
              <!-- <form [formGroup]="customInputFormProfession" action="">
                <input formControlName="text" class="custom-input-profile-change" type="text">
              </form> -->
              <!-- <button (click)="customInputFormProfessionClick()">+</button> -->
            </div>
            
          </div>
        </div>
        <div>
  
        </div>
        <div>
          
        </div>
      </div>
    </form>
   
  </div>
</section>