.main-header{
    margin-top: 4rem;
}
.main-info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:  50px;
}
.main-info-grid_inputs{
    margin-top: 2rem;
}
.custom-input-profile-change_wrapper{
    margin-top: 1rem;
}
.custom-input-profile{
    
    font-family:Montserrat-Regular;
    padding: 1rem;
    width: 100%;
    min-height: 160px;
    
    border-radius: 6px;
    border: 1px solid #A6A6A6;
}
.custom-input-profile-label{
    color:#A6A6A6;
}
.custom-input-profile-change{
    border-radius: 6px;
    border: 1px solid #A6A6A6;
    max-width: 6rem;
}
.custom-input-profile-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:  16px;
    row-gap: 12px;
}
.custom-input-profile-grid-item{
    text-align: center;
    padding: 2px;
    border-radius: 8px;
    border: 1px solid #A6A6A6;
}

.del{
    position: absolute;
    margin-top: -0.3rem;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    width: 1.1rem;
    height: 1rem;
}

.sub{
    margin-left: 2px;
    background: #0eb14f;
    color: #fff;
    margin-top: 0.5rem;
    position: absolute;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    width: 1.1rem;
    height: 1rem;

}
